.logo {
  width: 25%;
}
.name {
  font-style: italic;
  color: #24a19c;
}
.link {
  margin-right: 5%;
}

.nav-theme {
  /* background: linear-gradient(to right, #325288,white); */
  background-color: #325288;
  font-size: 20px;
  box-shadow: 0 0 15px;
  /* margin-right: 1%; */
}
.nav-theme a {
  color: #faeee7 !important;
}
.logo {
  width: 80px;
  height: 60px;
}

.animate-navbar {
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
